html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: grey;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 300;
}

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
  /* this is for removing the bottom scroller. Our slider is of width 500vw, which is 5 times the width of our screen, so, it's overflowing and we're hiding that overflow by overflow: hidden; */
}

/* with clip path, we can create any shape for our divs. clip-path only uses 100% of the screen.*/

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderImg {
  z-index: 1;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  color: white;
  text-align: center;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
  cursor: pointer;
  border: 1px solid gray;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: green;
}

.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}

.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureImg {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productDesc {
  font-size: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  padding: 10px 50px;
  display: none;
  /* We'll change it to flex when we click the "Buy Now" button. */
  flex-direction: column;
  -webkit-box-shadow: 1px 6px 13px 13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 13px 13px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 6px 13px 13px rgba(0, 0, 0, 0.75);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: lightgray;
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  border: none;
  background-color: green;
  color: white;
  height: 25px;
}

.payButton:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  width: 33.3%;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  /* width: 33.3%; */
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}

.footerRight {
  flex: 1;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fMenuList {
  padding: 0;
  list-style: none;
  color: gray;
  cursor: pointer;
}

.fListItem {
  margin-bottom: 10px;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
  /* flex: 1; */
  margin-bottom: 10px;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
    /* if there's an overflow, we're going to put the remaining items on a new line. */
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .sliderBg {
    width: 100%;
    height: 100%;
  }

  .sliderTitle {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgrey;
  }

  .buyButton {
    right: 0;
    top: 0;
  }

  .features {
    flex-direction: column;
  }

  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: unset;
    top: unset;
  }

  .productTitle {
    font-size: 50px;
    padding: 0;
    margin: 0;
  }

  .productDesc {
    padding: 0;
    font-size: 20px;
    margin-top: 0;
  }

  .gallery {
    display: none;
  }

  .newSeason {
    flex-direction: column;
    width: 100%;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerLeft {
    width: 90%;
    padding: 15px;
  }

  .footerRight {
    width: 90%;
    background-color: whitesmoke;
  }

  .payment {
    width: 80%;
  }
}
